.carousel-wrapper {
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.text-column {
    height: 100%;
    padding: 20px;
    margin: 5px;
    box-shadow: 5px 10px lightgray;
}

.text {
    text-align: left;
}

.carousel-column {
    height: 100%;
    padding: 10px;
    /* margin: 1px; */
}

.thumbnail-column {
    height: 100%;
    padding: 5px;
    margin: 10px;
}

.o-carousel--thumbnail {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.o-carousel--thumbnail img {
    max-width: 150px;
    padding: 2px;
}

.active-thumbnail {
    border-style: solid;
    border-color: red;
    border-width: 5px;  
}

.o-carousel {
    overflow: hidden;
}

/* .o-carousel--item {
    display: none;
} */

.inner {
    /* display: none; */
    white-space: nowrap;
    transition: transform 0.7s;  
}

.carousel--caption--pagenumber {
    text-align: right;
}

.indicators {
    display: flex;
    justify-content:right;
}

.indicators > button {
    margin: 5px;
}