.carousel-wrapper {
    margin: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.text-column {
    height: 100%;
    padding: 20px;
    margin: 5px;
    box-shadow: 5px 10px lightgray;
}

.text {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.carousel-column {
    height: 100%;
    padding: 10px;
}

.thumbnail-column {
    height: 100%;
    padding: 5px;
    margin: 10px;
}


.o-carousel--thumbnail {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.o-carousel--thumbnail img {
    max-width: 150px;
    padding: 2px;
    cursor: pointer;
}

.active-thumbnail {
    border-style: solid;
    border-color: red;
    border-width: 5px;  
}

.outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.inner {
    position: relative;
    min-width: 100%;
    height: 80%;
    transition: transform 0.5s; 
    overflow: hidden; 
}

.carousel--caption-pagenumber {
  text-align: right;
}

.indicators {
    display: flex;
    justify-content:right;
}

.indicators > button {
    display: flex;
    margin: 5px;
}